@page
@model asp_presentacion.Pages.Ventanas.LibrosModel
@{
    ViewData["Titulo"] = "";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">

            @Html.AntiForgeryToken()
            <div align="left">
                <h3>Libros</h3>
            </div>

            <div align="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Id" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Titulo" />
                <input type="hidden"
                       asp-for="@Model.Actual!.ISBN" />
                <input type="hidden"
                       asp-for="@Model.Actual!.AnioPublicacion" />
                <input type="hidden"
                       asp-for="@Model.Actual!.IdAutor" />
                <input type="hidden"
                       asp-for="@Model.Actual!.IdCategoria" />
                <input type="hidden"
                       asp-for="@Model.Actual!.IdIdioma" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Libros</h3>
                    <div>
                        <div class="form-group row">
                            <label class="col-lg-4 control-label">
                                Titulo
                            </label>
                            <div class="col-lg-8">
                                <input id="nmTitulo"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Titulo" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-4 control-label">
                                ISBN
                            </label>
                            <div class="col-lg-8">
                                <input id="nmISBN"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.ISBN" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-4 control-label">
                                Año Publicación
                            </label>
                            <div class="col-lg-8">
                                <input id="nmAnioPublicacion"
                                       class="cts_forms form-control"
                                       type="number"
                                       asp-for="@Model.Actual!.AnioPublicacion" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-4 control-label">
                                ID Autor
                            </label>
                            <div class="col-lg-8">
                                <input id="nmIdAutor"
                                       class="cts_forms form-control"
                                       type="number"
                                       asp-for="@Model.Actual!.IdAutor" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-4 control-label">
                                ID Categoría
                            </label>
                            <div class="col-lg-8">
                                <input id="nmIdCategoria"
                                       class="cts_forms form-control"
                                       type="number"
                                       asp-for="@Model.Actual!.IdCategoria" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-4 control-label">
                                ID Idioma
                            </label>
                            <div class="col-lg-8">
                                <input id="nmIdIdioma"
                                       class="cts_forms form-control"
                                       type="number"
                                       asp-for="@Model.Actual!.IdIdioma" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>
                            <h4 align="left">
                                ¿Desea borrar la entidad?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Titulo
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input id="flTitulo"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!.Titulo"
                       placeholder="Titulo" />
                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>ISBN</th>
                                <th class="cl_hidden">Año Publicación</th>
                                <th class="cl_hidden">ID Autor</th>
                                <th class="cl_hidden">ID Categoría</th>
                                <th class="cl_hidden">ID Idioma</th>
                                <th class="cl_actions">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Lista != null)
                            {
                                @foreach (var elemento in Model.Lista)
                                {
                                    <tr>
                                        <td>@elemento.Titulo</td>
                                        <td>@elemento.ISBN</td>
                                        <td class="cl_hidden">@elemento.AnioPublicacion</td>
                                        <td class="cl_hidden">@elemento.IdAutor</td>
                                        <td class="cl_hidden">@elemento.IdCategoria</td>
                                        <td class="cl_hidden">@elemento.IdIdioma</td>
                                        <td>
                                            <input type="submit"
                                                   value="Modificar"
                                                   asp-page-handler="BtModificar"
                                                   class="btn btn-secondary"
                                                   asp-route-data="@elemento.Id" />
                                            <input type="submit"
                                                   value="Borrar"
                                                   asp-page-handler="BtBorrarVal"
                                                   class="btn btn-secondary"
                                                   asp-route-data="@elemento.Id" />
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
        </form>
    </div>
</center>