@page
@model asp_presentacion.Pages.Ventanas.PrestamosModel
@{
    ViewData["Titulo"] = "";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">

            @Html.AntiForgeryToken()
            <div align="left">
                <h3>Prestamos</h3>
            </div>

            <div align="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Id" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.FechaPrestamo" />
                <input type="hidden"
                       asp-for="@Model.Actual!.FechaDevolucion" />
                <input type="hidden"
                       asp-for="@Model.Actual!.IdLibro" />
                <input type="hidden"
                       asp-for="@Model.Actual!.IdMiembro" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Prestamos</h3>
                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                FechaPrestamo
                            </label>
                            <div class="col-lg-6">
                                <input id="nmFechaPrestamo"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.FechaPrestamo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                FechaDevolucion
                            </label>
                            <div class="col-lg-6">
                                <input id="nmFechaDevolucion"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.FechaDevolucion" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                IdLibro
                            </label>
                            <div class="col-lg-6">
                                <input id="nmIdLibro"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.IdLibro" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                IdMiembro
                            </label>
                            <div class="col-lg-6">
                                <input id="nmIdMiembro"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.IdMiembro" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>
                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.IdLibro
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input id="flIdLibro"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!.IdLibro"
                       placeholder="" />
                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                FechaPrestamo
                            </th>
                            <th>
                                FechaDevolucion
                            </th>
                            <th class="cl_hidden">
                                IdLibro
                            </th>
                            <th class="cl_hidden">
                                IdMiembro
                            </th>
                            <th class="cl_actions">
                                Accion
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento.FechaPrestamo
                                    </td>
                                    <td>
                                        @elemento.FechaDevolucion
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.IdLibro
                                    </td>
                                    <td>
                                        @elemento.IdMiembro
                                    </td>
                                    <td>
                                        <input type="submit"
                                               value="Modicar"
                                               asp-page-handler="BtModificar"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                        <input type="submit"
                                               value="Borrar"
                                               asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>